name: Run Linting
on:
  push:
    branches:
      # https://docs.renovatebot.com/key-concepts/automerge/#branch-vs-pr-automerging
      - "renovate/**" # branches Renovate creates
  pull_request:
    branches: [{{ default_branch }}]
  merge_group:
    types: [checks_requested]
    branches: [{{ default_branch }}]
  workflow_dispatch:
    inputs:
      runners:
        description: "Runners to test on"
        type: choice
        options:
          - "ubuntu-latest"
          - "self-hosted"
        default: "self-hosted"

# Cancel if a newer run is started
concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}{% endraw %}
  cancel-in-progress: true

env:
  NXF_SINGULARITY_CACHEDIR: {% raw %}${{ github.workspace }}/.singularity{% endraw %}
  NXF_SINGULARITY_LIBRARYDIR: {% raw %}${{ github.workspace }}/.singularity{% endraw %}
  GITHUB_TOKEN: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
  # renovate: datasource=github-releases depName=nextflow/nextflow versioning=semver
  NXF_VER: "24.10.1"

jobs:
  pre-commit:
    runs-on: {% raw %}${{ github.event.inputs.runners || github.run_number > 1 && 'ubuntu-latest' || 'self-hosted' }}{% endraw %}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
        with:
          extra_args: ""

  ###################
  # nf-core linting #
  ###################
  # TODO Move these to pre-commit
  # https://github.com/nf-core/tools/pull/3141
  nf-core-changes:
    name: nf-core-changes
    runs-on:
      - {% raw %}runs-on=${{ github.run_id }}-nf-core-changes{% endraw %}
      - runner=4cpu-linux-x64
      - image=ubuntu22-full-x64
    outputs:
      # https://github.com/dorny/paths-filter?tab=readme-ov-file#custom-processing-of-changed-files
      modules: {% raw %}${{ steps.filter.outputs.modules }}{% endraw %}
      modules_files: {% raw %}${{ steps.module_names.outputs.result }}{% endraw %}
      subworkflows: {% raw %}${{ steps.filter.outputs.subworkflows }}{% endraw %}
      subworkflows_files: {% raw %}${{ steps.subworkflow_names.outputs.result }}{% endraw %}
    steps:
      - name: Clean workspace
        run: |
          sudo rm -rf ./* || true
          sudo rm -rf ./.* || true

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 2 # To retrieve the preceding commit.

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            modules:
              - added|modified: 'modules/{{ short_org_name }}/**'
            subworkflows:
              - added|modified: 'subworkflows/{{ short_org_name }}/**'
          token: ""
          list-files: "json"

      - name: Get module name
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        id: module_names
        with:
          script: |
            {% raw %}return [...new Set(${{ steps.filter.outputs.modules_files }}{% endraw %}
              .filter(x => x.endsWith('main.nf'))
              .map(path => path
                .replace('modules/{{ short_org_name }}/', '')
                .replace(/\/main\.nf$/, '')
              )
            )];
      - name: Get subworkflow name
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        id: subworkflow_names
        with:
          script: |
            {% raw %}return [...new Set(${{ steps.filter.outputs.subworkflows_files }}{% endraw %}
              .filter(x => x.endsWith('main.nf'))
              .map(path => path
                .replace('subworkflows/{{ short_org_name }}/', '')
                .replace(/\/main\.nf$/, '')
              )
            )];

      - name: debug
        run: |
          echo {% raw %}${{ steps.filter.outputs.modules_files }}{% endraw %}
          echo {% raw %}${{ steps.module_names.outputs.result }}{% endraw %}
          echo {% raw %}${{ steps.filter.outputs.subworkflows_files }}{% endraw %}
          echo {% raw %}${{ steps.subworkflow_names.outputs.result }}{% endraw %}

  nf-core-lint-modules:
    runs-on:
      - {% raw %}runs-on=${{ github.run_id }}-nf-core-lint-modules
      - runner=4cpu-linux-x64
      - image=ubuntu22-full-x64
    name: nf-core lint modules
    needs: nf-core-changes
    if: {% raw %}${{ needs.nf-core-changes.outputs.modules_files != '[]' }}{% endraw %}
    strategy:
      fail-fast: false
      matrix:
        module: {% raw %}${{ fromJson(needs.nf-core-changes.outputs.modules_files || '[]') }}{% endraw %}
    steps:
      - name: Clean workspace
        run: |
          sudo rm -rf ./* || true
          sudo rm -rf ./.* || true
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.13"

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        id: cache-pip
        with:
          path: ~/.cache/pip
          key: {% raw %}${{ runner.os }}-pip{% endraw %}
          restore-keys: |
            {% raw %}${{ runner.os }}-pip{% endraw %}

      - name: Install pip
        run: python -m pip install --upgrade pip

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2

      - name: Install nf-core tools development version
        run: python -m pip install --upgrade --force-reinstall git+https://github.com/nf-core/tools.git@dev

      - name: Lint module {% raw %}${{ matrix.module }}{% endraw %}
        run: nf-core modules --git-remote {{ repo_host }}/{{ repo_org_name }}/{{ repo_name }}.git lint {% raw %}${{ matrix.module }}{% endraw %}

  nf-core-lint-subworkflows:
    runs-on:
      - {% raw %}runs-on=${{ github.run_id }}-nf-core-lint-subworkflows{% endraw %}
      - runner=4cpu-linux-x64
      - image=ubuntu22-full-x64
    name: nf-core lint subworkflows
    needs: nf-core-changes
    if: {% raw %}${{ needs.nf-core-changes.outputs.subworkflows_files != '[]' }}{% endraw %}
    strategy:
      fail-fast: false
      matrix:
        subworkflow: {% raw %}${{ fromJson(needs.nf-core-changes.outputs.subworkflows_files || '[]') }}{% endraw %}
    steps:
      - name: Clean workspace
        run: |
          sudo rm -rf ./* || true
          sudo rm -rf ./.* || true
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.13"

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2

      - name: Install nf-core tools development version
        run: python -m pip install --upgrade --force-reinstall git+https://github.com/nf-core/tools.git@dev

      - name: Lint subworkflow {% raw %}${{ matrix.subworkflow }}{% endraw %}
        run: nf-core subworkflows --git-remote {{ repo_host }}/{{ repo_org_name }}/{{ repo_name }}.git lint {% raw %}${{ matrix.subworkflow }}{% endraw %}

  confirm-pass-lint:
    runs-on:
      - {% raw %}runs-on=${{ github.run_id }}-confirm-pass-lint{% endraw %}
      - runner=2cpu-linux-x64
      - image=ubuntu22-full-x64
    needs: [nf-core-lint-modules, nf-core-lint-subworkflows]
    if: always()
    steps:
      - name: All tests ok
        if: {% raw %}${{ success() || !contains(needs.*.result, 'failure') }}{% endraw %}
        run: exit 0
      - name: One or more tests failed
        if: {% raw %}${{ contains(needs.*.result, 'failure') }}{% endraw %}
        run: exit 1

      - name: debug-print
        if: always()
        run: |
          echo {% raw %}"toJSON(needs) = ${{ toJSON(needs) }}"{% endraw %}
          echo {% raw %}"toJSON(needs.*.result) = ${{ toJSON(needs.*.result) }}"{% endraw %}
